<h3>Podgląd formatowania</h3>
<label>Pole tekstowe 
    <input value="Teskt pola input" 
    [style.color]="css.color"
    [style.background-color]="css.background" 
    [style.box-shadow]="css.boxShadow" 
    [style.border]="css.border"           
></label><br/>

<label>Przycisk <button
    [style.color]="css.color"
    [style.background-color]="css.background" 
    [style.box-shadow]="css.boxShadow" 
    [style.border]="css.border"  
    >Tekst przycisku</button></label><br/>
<div
    [style.color]="css.color"
    [style.background-color]="css.background" 
    [style.box-shadow]="css.boxShadow" 
    [style.border]="css.border"  
    >Lorem ipsum wewnątrz div,Lorem ipsum wewnątrz div
</div>
